<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tianjun.projecttest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".HomeDetailActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Product.Product_GridInfo" />
        <activity android:name=".Product.Product_Info" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".HomeDetailActivity" />
        <activity android:name=".Product.BuyShop_Info" />
        <activity android:name=".Me.Me_Info_Config" />
        <activity android:name=".Me.Me_Indent_Info" />
        <activity android:name=".Me.Me_Recommend_Info" />
        <activity android:name=".Me.Me_Invite_details" />
        <activity android:name=".Me.Me_StampsInfo" />
        <activity android:name=".Me.Me_Integral" />
        <activity android:name=".Me.Me_Collect" />
        <activity android:name=".Me.Me_Address_Info" />
        <activity android:name=".Me.Me_Address_Add" />
        <activity android:name=".Me.Me_Service_Info" />
        <activity android:name=".Me.Me_Help" />
        <activity android:name=".Me.Me_Set" />
        <activity android:name=".Me.Me_SetPssWord" >
        </activity>
        <activity android:name=".Me.Me_Service_Info" />
        <activity android:name=".SearchHomeActivity" />
        <activity android:name=".SearchActivity"></activity>
    </application>

</manifest>